@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

:root
{
--main1: #303434;
--main2: #008080;
--main3: #FFFAFA;
--main4: #65cee6;
}

li, a, button{
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
    font-size: 3rem;
    color: #edf0f1;
}

.logo{
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
    font-size: 35px;
    color:white;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left:30px;
}

.flexbox
{
   display:flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    background-color: var(--main4);
    overflow: hidden;
  }

  .topnav a {
    float: right;
    color: var(--main3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: var(--main2);
    color: var(--main3);
  }
  